{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "renderWithTheme": "readonly",
    "rendererCreateWithTheme": "readonly",
    "requestAnimationFrame": "readonly",
    "mountWithTheme": "readonly"
  }
}
